extends ../template

block content
    section#sign-in
        form.form-wrap(action="/signin", method="POST")
            h1 Sign In
            if message
                h5(style={color:'orangered'}) [ #{message} ]
                br
            label(for="sign-in-username") Your Username
            input(
                id="sign-in-username"
                type="text" 
                name="username" 
                placeholder="Username"
                value="CXL"
            )

            label(for="sign-in-password") Password: 
            input(
                id="sign-in-password"
                type="password" 
                name="password" 
                placeholder="Password"
                value="MindYourBusiness.yup"
            )

            button(type="submit") Sign In

            p Don't have an account? #[a(href="/signup") Sign Up]
              