extends ../template

block content
    section#user-info
        .user-card
            - var imagePath = user.profileImageLocation + user.profileImage;
            img.profile-image(src= imagePath)
            h3= user.username
            p= bio

        .user-stats
            h4 User Stats
            p Member since #[em.float-right #{user.joinDate}]
            p Last Active #[em.float-right #{user.lastActive}]

        .user-stats
            h4 Groups
            each group in user.groups
                - var groupLink = '/group-profile/' + group.id
                p: a(href= groupLink) #{group.name}
        
        .user-stats
            button Send Friend Request
            button Report User
            