extends ../template

block content
    section#user-info
        .user-card
            h3= name
            - var imagePath = user.profileImageLocation + user.profileImage;
            img.profile-image(src= imagePath)
            p= bio
        br

        .user-stats
            h4 User Stats:
            p Member since: #{user.joinDate}
            p Last Active: #{user.lastActive}
            p Groups:
                each group in user.groups
                    - var groupLink = '/group-profile/' + group.id
                    p: a(href= groupLink) #{group.name}

        button Send Friend Request
            